@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}


.menu{
    background-color: #1A202C;
    color: #fff;
    height: 70px;
}

.menu__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
}


.menu__links{
    display: flex;
    height: 100%;
    transition: transform .5s;  
}

.menu__links--show{
    width: 100%;
}


.menu__link{
    text-decoration: none;
    color: white;
    padding: 0 30px;
    display: flex;
    align-items: center;
    height: 100%;
}

.menu__link:hover{
    background-color: #fff;
    color: #1A202C;
}

.menu__item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu__item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0deg);
   
}


.menu__item--active{
    --transform: rotate(0deg);
    --background: #ffffff;
}

.menu__item--show{
    background-color: var(--background);
    
}



.menu__nesting{
    clip-path: var(--clip);
    transition: .3s;
    background-color: #1A202C;
}


.menu__link--inside{
    padding: 10px ;
}

.menu__link--inside:hover{
    color: white;
    background-color: #354159;
}


.menu__arrow{
    transform: var(--transform);
    transition: transform .3s;
}


.menu__hamburger{
    display: none;
    cursor: pointer;
}

.menu__img{
    width: 36px;
}








@media (max-width:800px){
    .menu__hamburger{
        display: flex;
    }
    
    .menu__links{
        background-color: #1A202C;
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        right: 0;
        bottom: 0;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);

    }

    .menu__links--show{
        transform: unset;
    }

    .menu__nesting{
        display: grid;
        position: unset;
        background-color: #212c41;
        height: 0;
    }

    .menu__item{
        --clip: 0;
        overflow: hidden;
        
    }

    

    .menu__link{
        padding: 10px;
        height: auto;
    }

    .menu__link--inside{
        width: 90%;
        margin-left: auto;
        border-left: 1px solid white ;
    }

    .menu__arrow{
        margin-left: auto;
        margin-right: 20px;
    }


}






