@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;700;900&display=swap');
@import "_variables";
@import "_mixins";
@import "_header";
@import "_main";
@import "_footer";
@import "_loader";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter Tight', sans-serif;
}



body {
    background-color: var(--main-color);
}
html{
    scroll-behavior: smooth;
}




